* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevents scrollbars */
  background: #1a1a1a;
}
#root {
  width: 100%;
  height: 100%;
}